/node_modules
/public/hot
/public/storage
/public/backend/upload
/public/ckfinder
/public/public
/storage/*.key
/storage/randcode
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
